/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-mag-2020, 13.31.43
    Author     : Ivan Gismondi
*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');
body
{
	margin: 0;
	padding: 0;
	/*min-height: 100vh;*/
	font-family: 'PT Sans Narrow', sans-serif;
}
/*-----------gestione Section, Header con logo e menu, Socials----------*/
section
{
	position: absolute;
        padding-top: 1%;
	width: 100%;
	height: 100%;
	background: #fff;
	display: grid;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

header{
  clear:both;
  overflow:auto;
}
.logo{
    opacity: 0;
    float:left;
    margin: 0 10px;
    padding: 2% 5%;
    font-size: 2em;
    text-transform: uppercase;
    animation: fadeIn 0.5s linear forwards;
    animation-delay: 0.75s;
}
@keyframes fadeIn{
    0%
    {
	opacity: 0;
    }
    100%
    {
    	opacity: 1;
    }
}
nav{
    float:right;
    padding: 2% 5%;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 100;
}
nav ul li{
    opacity: 0;
    list-style: none;
    margin: 0 10px;
    animation: fadeInRight 0.5s linear forwards;
}
@keyframes fadeInRight
{
    0%
    {
	transform: translateX(150px);
	opacity: 0;
    }
    100%
    {
	transform: translateX(0);
	opacity: 1;
    }
}
nav ul li a{
    text-decoration: none;
    display: inline-block; 
    font-size: 1.2em;
    color: #000;
    letter-spacing: 2px;
    padding: 5px 10px;
    
}
nav ul li:last-child{
	margin-right: 0;
}
nav ul li a.active,
nav ul li a:hover{
	background: #000;
	color: #fff;
}
nav ul li:nth-child(1){
	animation-delay: 0.75s;
}
nav ul li:nth-child(2){
	animation-delay: 1s;
}
nav ul li:nth-child(3){
	animation-delay: 1.25s;
}
nav ul li:nth-child(4){
	animation-delay: 1.5s;
}
nav ul li:nth-child(5){
	animation-delay: 1.75s;
}
nav ul li:nth-child(6){
	animation-delay: 2s;
}
/*---------------------altro-----------------*/
.row{
    width: 1024px;
}
.left-column{
    float: left;
    width: 25%;
    background: #ccccff;
}
.right-column{
    float: right;
    width: 75%;
    background: #ccffff;
}
.main-body{
    padding: 20px;
    margin-top: 20px;
}
.main-body h2{
    text-align: center;
}
.main-body img{
    width: 400px;
    height: 320px;

}
/*---------------------------------------------*/
.sci{
	position: absolute;
	bottom: 15px;
	right: 30px;
	display: flex;
	flex-direction: column;
}
.sci li{
	opacity: 0;
	list-style: none;
	padding: 10px 0;
	text-align: center;
	animation: fadeInBottom 0.5s linear forwards;
}
footer .sci li:nth-child(1){
	animation-delay: 3.75s;
}
footer .sci li:nth-child(2){
	animation-delay: 4s;
}
footer .sci li:nth-child(3){
	animation-delay: 4.25s;
}
footer .sci li:nth-child(4){
	animation-delay: 4.5s;
}
footer .sci li:nth-child(5){
	animation-delay: 4.75s;
}
footer .sci li:nth-child(6){
	animation-delay: 5s;
}
.sci li a{
	font-size: 1.2em;
	color: #000;
}